img{
    border-radius: 50%;
}
h2{
    background-color: rgb(43, 226, 208);
    display: inline;
}
/* ul{
    padding-top: 0svh;
} */
img
{
    display: inline;
    border-style: double;
    border-color:red;
}
h1
{
  display:inline-table;
}
